@import "./variable.less";

body, html {
  line-height: 1;
  font-family: '微软雅黑','PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.ll {
  float:left;
}
.rr {
  float:right;
}
.h-title {
  margin-top:80px;
  font-size:32px;
  color:@color_3;
  text-align:center;
}
.h-title:after {
  content:"";
  display:block;
  width:40px;
  height:4px;
  margin:20px auto 70px auto;
  background:@color_background_1;
}
.nowrap {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  display:block;
}
.nowrap2 {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}
.auto-width {
  width:1200px;
  margin:0 auto;
}
a {
  text-decoration: none;
}
.nav {
  .nav-wrap {
    height:44px;
    line-height:44px;
    background:@color_background_4;
    a {
      font-size:16px;
      color:@color_4;
      text-decoration: none;
      text-align: center;
      &.router-link-active {
        span {
          display:inline-block;
          height:44px;
          box-sizing: border-box;
          border-bottom:3px solid @color_background_1;
          color:@color_5;
        }
      }
    }
    a:hover {
      color:@color_5;
    }
    a:hover span {
      display:inline-block;
      height:44px;
      box-sizing: border-box;
      border-bottom:3px solid @color_background_1;
      color:@color_5;
    }
  }
}
.about-wrap {
  >div {
    text-align: center;
    a {
      display:inline-block;
      span {
        margin:0 60px;
      }
    }
  }
}
.about-content {
  background:#fff;
}
.banner {
  min-width:1200px;
  position: relative;
  height:400px;
  img {
    width:100%;
    height:400px;
    display:block;
  }
}
.sub-title {
  font-size:36px;
  color:@color_3;
  text-align: center;
  padding:80px 0 60px 0;
  span {
    border-bottom:2px solid #ddd;
    position: relative;
    padding-bottom:10px;
  }
  span:after {
    content:"";
    display:inline-block;
    width:40px;
    height:6px;
    background:#000;
    position: absolute;
    left:50%;
    bottom:-4px;
    margin-left:-20px;
  }
}
.content-a {
  img {
    margin-right:50px;
    margin-bottom:50px;
  }
}

.about-content {
  min-height:400px;
}